{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title%}
        <!--Titulo de cada pagina-->
        {%endblock%}
        | Version Pre-Alpha
    </title>


    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}" />
</head>

<body>
    <header>
        <div id="logotipo">
            <img src="{%static 'images/logo.png'%}" />
            <h1>Sitio web con Django</h1>
        </div>
    </header>



    <nav>
        <ul>
            <li>
                <a href="/inicio">Inicio</a>
            </li>
            <li>
               <!-- <a href="/hola-mundo">Hola Mundo</a>-->
            </li>
            <li>
                <a href="/pagina">Mi pagina</a>
            </li>
            <li>
                <a href="/contacto">Incidencias</a>
            </li>
            <li>
                <a href="/hora">La hora</a>
            </li>
        </ul>

    </nav>
    <div id="content">
        <div class="box">
           
            {%block content%}
            <!--Codigo que viene de template-->

            {% endblock%}
        </div>
    </div>



    <footer>
        Keepcoding con Django &copy; Programacion!!
    </footer>

</body>

</html>